body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Menggunakan tinggi viewport untuk membuat konten berada di tengah vertikal */
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Arial', cursive;
}

#canvas {
    margin: 20px auto;
    /* Menghapus border */
    border: none;
}

